<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ru.capralow.dt.coverage.core.ICoverageSession"
            class="ru.capralow.dt.coverage.internal.ui.WorkbenchAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="$nl$/icons/full/wizban/run_coverage.png"
            id="ru.capralow.dt.coverage.ui.launchGroup.coverage"
            image="$nl$/icons/full/elcl16/runcoverage.png"
            label="%CoverageLaunchGroup.label"
            mode="coverage"
            title="%CoverageLaunchGroup.title"/>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ru.capralow.dt.coverage.internal.ui.actions.ContextualLaunchableTester"
            id="ru.capralow.dt.coverage.ui.propertyTester.contextualLaunchable"
            namespace="ru.capralow.dt.coverage.ui"
            properties="launchable"
            type="com._1c.g5.v8.dt.metadata.mdclass.MdObject"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JavaApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/java_launch.png"
            modes="coverage"
            class="ru.capralow.dt.coverage.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            id="ru.capralow.dt.coverage.ui.localJavaShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="ru.capralow.dt.coverage.ui.launchable" args="org.eclipse.jdt.debug.ui.localJavaShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitTestShortcut.label"
            icon="$nl$/icons/full/etool16/junit_launch.png"
            class="ru.capralow.dt.coverage.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            modes="coverage"
            id="ru.capralow.dt.coverage.ui.junitShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="ru.capralow.dt.coverage.ui.launchable" args="org.eclipse.jdt.junit.junitShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ru.capralow.dt.coverage.ui.CoverageActionSet"
            label="%CoverageActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               class="ru.capralow.dt.coverage.internal.ui.actions.CoverageToolbarAction"
               disabledIcon="$nl$/icons/full/dlcl16/runcoverage.png"
               hoverIcon="$nl$/icons/full/elcl16/runcoverage.png"
               icon="$nl$/icons/full/elcl16/runcoverage.png"
               id="ru.capralow.dt.coverage.ui.actions.CoverageDropDownAction"
               label="%CoverageDropDownAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="ru.capralow.dt.coverage.internal.ui.actions.OpenCoverageConfigurations"
               definitionId="ru.capralow.dt.coverage.ui.commands.OpenCoverageConfiguration"
               id="ru.capralow.dt.coverage.ui.actions.OpenCoverageConfiguration"
               label="%OpenCoverageConfigurationsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"/>
         <action
               class="ru.capralow.dt.coverage.internal.ui.actions.CoverageAsAction"
               icon="$nl$/icons/full/elcl16/runcoverage.png"
               id="ru.capralow.dt.coverage.ui.actions.CoverageAsAction"
               label="%CoverageAsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="ru.capralow.dt.coverage.internal.ui.actions.CoverageHistoryAction"
               id="ru.capralow.dt.coverage.ui.actions.CoverageHistoryAction"
               label="%CoverageHistoryAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="ru.capralow.dt.coverage.internal.ui.actions.CoverageLastAction"
               definitionId="ru.capralow.dt.coverage.ui.commands.CoverageLast"
               disabledIcon="$nl$/icons/full/dlcl16/relaunch.png"
               hoverIcon="$nl$/icons/full/elcl16/relaunch.png"
               icon="$nl$/icons/full/elcl16/relaunch.png"
               id="ru.capralow.dt.coverage.ui.actions.CoverageLast"
               label="%CoverageLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup"/>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.capralow.dt.coverage.ui"
            name="%EclEmmaCommandCategory.name">
      </category>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageLastCommand.description"
            id="ru.capralow.dt.coverage.ui.commands.CoverageLast"
            name="%CoverageLastCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%OpenCoverageConfigurationsCommand.description"
            id="ru.capralow.dt.coverage.ui.commands.OpenCoverageConfiguration"
            name="%OpenCoverageConfigurationsCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJavaApplicationCommand.description"
            id="ru.capralow.dt.coverage.ui.localJavaShortcut.coverage"
            name="%CoverageJavaApplicationCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitTestCommand.description"
            id="ru.capralow.dt.coverage.ui.junitShortcut.coverage"
            name="%CoverageJUnitTestCommand.name"/>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            id="ru.capralow.dt.coverage.ui.selectRootElements"
            name="%SelectRootElementsCommand.name">
         <commandParameter
               id="type"
               name="type"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            id="ru.capralow.dt.coverage.ui.selectCounters"
            name="%SelectCountersCommand.name">
         <commandParameter
               id="type"
               name="type"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            id="ru.capralow.dt.coverage.ui.hideUnusedElements"
            name="%HideUnusedElementsCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.ImportSessionHandler"
            id="ru.capralow.dt.coverage.ui.importSession"
            name="%ImportSessionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.ExportSessionHandler"
            id="ru.capralow.dt.coverage.ui.exportSession"
            name="%ExportSessionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.RelaunchSessionHandler"
            id="ru.capralow.dt.coverage.ui.relaunchSession"
            name="%RelaunchSessionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.RemoveActiveSessionHandler"
            id="ru.capralow.dt.coverage.ui.removeActiveSession"
            name="%RemoveActiveSessionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.RemoveAllSessionsHandler"
            id="ru.capralow.dt.coverage.ui.removeAllSessions"
            name="%RemoveAllSessionsCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.MergeSessionsHandler"
            id="ru.capralow.dt.coverage.ui.mergeSessions"
            name="%MergeSessionsCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            id="ru.capralow.dt.coverage.ui.linkWithSelection"
            name="%LinkWithSelectionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.SelectActiveSessionHandler"
            id="ru.capralow.dt.coverage.ui.selectActiveSession"
            name="%SelectActiveSessionCommand.name">
      </command>
      <command
            categoryId="ru.capralow.dt.coverage.ui"
            defaultHandler="ru.capralow.dt.coverage.internal.ui.handlers.OpenSessionExecutionDataHandler"
            id="ru.capralow.dt.coverage.ui.openSessionExecutionData"
            name="%OpenSessionExecutionData.name">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.capralow.dt.coverage.ui.localJavaShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E J"/>
      <key
            commandId="ru.capralow.dt.coverage.ui.junitShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E T"/>
      <key
            commandId="ru.capralow.dt.coverage.ui.workbenchShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E E"/>
      <key
            commandId="ru.capralow.dt.coverage.ui.commands.CoverageLast"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11"/>
      <!-- override key binding on Mac OS X -->
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="cocoa"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="ru.capralow.dt.coverage.ui.commands.CoverageLast"
            platform="carbon"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
      <key
            commandId="ru.capralow.dt.coverage.ui.commands.CoverageLast"
            platform="cocoa"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com._1c.g5.v8.dt.ui2.perspective">
			<actionSet id="ru.capralow.dt.coverage.ui.CoverageActionSet"/>
			<showInPart id="ru.capralow.dt.coverage.ui.CoverageView"/>
		</perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="ru.capralow.dt.coverage.internal.ui.coverageview.CoverageView"
            icon="$nl$/icons/full/eview16/coverage.png"
            id="ru.capralow.dt.coverage.ui.CoverageView"
            name="%coverageView.title"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="ru.capralow.dt.coverage.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="ru.capralow.dt.coverage.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationImageProvider="ru.capralow.dt.coverage.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="ru.capralow.dt.coverage.ui.partialCoverageAnnotation"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageAnnotation.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationImageProvider="ru.capralow.dt.coverage.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="ru.capralow.dt.coverage.ui.noCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverageAnnotation.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="ru.capralow.dt.coverage.internal.ui.ExecutableExtensionFactory:ru.capralow.dt.coverage.ui.launching.CoverageTabGroup"
			helpContextId="ru.capralow.dt.coverage.ui.coverage_launch_tab_context"
			id="ru.capralow.dt.unit.launcher.plugin.ui.UnitTestCoverageTabGroup"
			type="ru.capralow.dt.unit.launcher.plugin.ui.UnitTestLaunch">
			<launchMode
				mode="coverage"/>
		</launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="ru.capralow.dt.coverage.internal.ui.launching.NoCoverageDataHandler"
            code="5101"
            id="ru.capralow.dt.coverage.ui.noCoverageDataHandler"
            plugin="ru.capralow.dt.coverage.core"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="ru.capralow.dt.coverage.internal.ui.UIPreferences"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.debug.ui"
            class="ru.capralow.dt.coverage.internal.ui.wizards.SessionImportWizard"
            icon="$nl$/icons/full/etool16/session_import.png"
            id="ru.capralow.dt.coverage.ui.sessionImportWizard"
            name="%importSession.title">
         <description>%importSession.description</description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.debug.ui"
            class="ru.capralow.dt.coverage.internal.ui.wizards.SessionExportWizard"
            icon="$nl$/icons/full/etool16/session_export.png"
            id="ru.capralow.dt.coverage.ui.sessionExportWizard"
            name="%exportSession.title">
         <description>%exportSession.description</description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="ru.capralow.dt.coverage.ui.externalFileDocumentProvider"
            inputTypes="ru.capralow.dt.coverage.internal.ui.wizards.ExternalFileEditorInput"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ru.capralow.dt.coverage.internal.ui.dialogs.CoveragePropertyPage"
            id="ru.capralow.dt.coverage.ui.coveragePropertyPage"
            name="%coveragePropertyPage.title">
            <enabledWhen>
                <adapt
                        type="org.eclipse.jdt.core.IJavaElement"/>
            </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="ru.capralow.dt.coverage.internal.ui.decorators.CoverageDecorator"
            id="ru.capralow.dt.coverage.ui.coverageDecorator"
            label="%coverageDecorator.label"
            lightweight="true"
            state="false">
         <description>%coverageDecorator.description</description>
         <enablement>
            <objectClass
                  name="org.eclipse.jdt.core.IJavaElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="ru.capralow.dt.coverage.internal.ui.dialogs.CoveragePreferencePage"
            id="ru.capralow.dt.coverage.ui.preferencePages.CoverageGeneral"
            name="%coveragePreferences.title">
         <keywordReference id="ru.capralow.dt.coverage.ui.coveragePreferences"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="ru.capralow.dt.coverage.ui.coveragePreferences"
            label="%keywords.coveragePreferences"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
            objectClass="java.lang.Object"
            id="ru.capralow.dt.coverage.ui.contextualLaunch.coverage">
         <action
               label="%CoverageContextMenu.label"
               style="pulldown"
               class="ru.capralow.dt.coverage.internal.ui.actions.CoverageContextualLaunchAction"
               menubarPath="additions"
               enablesFor="+"
               icon="$nl$/icons/full/elcl16/runcoverage.png"
               id="ru.capralow.dt.coverage.ui.contextualLaunch.coverage.submenu">
         </action>
         <enablement>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.debug.ui.launchable"
                  value="coverage"/>
         </enablement>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.capralow.dt.coverage.internal.ui.editors.ExecutionDataEditor"
            extensions="exec"
            icon="icons/full/eview16/exec.png"
            id="ru.capralow.dt.coverage.ui.editors.executiondata"
            name="%executionDataEditor.label">
         <contentTypeBinding
               contentTypeId="ru.capralow.dt.coverage.core.executiondata">
         </contentTypeBinding>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ru.capralow.dt.coverage.ui.CoverageView">
         <command
               commandId="ru.capralow.dt.coverage.ui.selectRootElements"
               icon="icons/full/elcl16/showprojects.png"
               label="%SelectProjectsMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="GROUP">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectRootElements"
               icon="icons/full/elcl16/showpackageroots.png"
               label="%SelectPackageRootsMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="BUNDLE">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectRootElements"
               icon="icons/full/elcl16/showpackages.png"
               label="%SelectPackagesMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="PACKAGE">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectRootElements"
               icon="icons/full/elcl16/showtypes.png"
               label="%SelectTypesMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="CLASS">
            </parameter>
         </command>
         <separator
               name="separator.counters"
               visible="true">
         </separator>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectInstructionCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="INSTRUCTION">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectBranchCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="BRANCH">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectLineCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="LINE">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectMethodCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="METHOD">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectTypeCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="CLASS">
            </parameter>
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectCounters"
               label="%SelectComplexityCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="COMPLEXITY">
            </parameter>
         </command>
         <separator
               name="separator.options"
               visible="true">
         </separator>
         <command
               commandId="ru.capralow.dt.coverage.ui.hideUnusedElements"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:ru.capralow.dt.coverage.ui.CoverageView">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
               style="push">
         </command>
         <separator
               name="separator.edit"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <separator
               name="separator.importexport"
               visible="true">
         </separator>
         <command
               commandId="ru.capralow.dt.coverage.ui.importSession"
               disabledIcon="icons/full/dlcl16/import.png"
               icon="icons/full/elcl16/import.png"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.exportSession"
               disabledIcon="icons/full/dlcl16/export.png"
               icon="icons/full/elcl16/export.png"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.openSessionExecutionData"
               style="push">
         </command>
         <separator
               name="separator.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <separator
               name="separator.properties"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ru.capralow.dt.coverage.ui.CoverageView">
         <command
               commandId="ru.capralow.dt.coverage.ui.relaunchSession"
               disabledIcon="icons/full/dlcl16/relaunch.png"
               icon="icons/full/elcl16/relaunch.png"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.dumpExecutionData"
               disabledIcon="icons/full/dlcl16/dump.png"
               icon="icons/full/elcl16/dump.png"
               id="ru.capralow.dt.coverage.ui.coverageView.dumpExecutionData"
               style="pulldown">
         </command>
         <separator
               name="separator.sessions"
               visible="true">
         </separator>
         <command
               commandId="ru.capralow.dt.coverage.ui.removeActiveSession"
               disabledIcon="IMG_ELCL_REMOVE_DISABLED"
               icon="IMG_ELCL_REMOVE"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.removeAllSessions"
               disabledIcon="IMG_ELCL_REMOVEALL_DISABLED"
               icon="IMG_ELCL_REMOVEALL"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.mergeSessions"
               disabledIcon="icons/full/dlcl16/mergesessions.png"
               icon="icons/full/elcl16/mergesessions.png"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.selectActiveSession"
               disabledIcon="icons/full/dlcl16/session.png"
               icon="icons/full/elcl16/session.png"
               id="ru.capralow.dt.coverage.ui.coverageView.sessionSelector"
               style="pulldown">
         </command>
         <separator
               name="separator.view"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
         <command
               commandId="ru.capralow.dt.coverage.ui.linkWithSelection"
               icon="IMG_ELCL_SYNCED"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ru.capralow.dt.coverage.ui.coverageView.sessionSelector">
         <dynamic
               class="ru.capralow.dt.coverage.internal.ui.handlers.SelectActiveSessionsItems"
               id="ru.capralow.dt.coverage.ui.coverageView.sessionSelector">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ru.capralow.dt.coverage.ui.coverageView.dumpExecutionData">
         <dynamic
               class="ru.capralow.dt.coverage.internal.ui.handlers.DumpExecutionDataItems"
               id="ru.capralow.dt.coverage.ui.coverageView.dumpExecutionDataSelector">
         </dynamic>
         <separator
               name="separator.options"
               visible="true">
         </separator>
         <command
               commandId="ru.capralow.dt.coverage.ui.resetOnDump"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   
</plugin>
