<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="ru.capralow.dt.unit.launcher.plugin.internal.ui.ExecutableExtensionFactory:ru.capralow.dt.unit.launcher.plugin.internal.ui.xtextbuilder.UnitLauncherXtextBuilderParticipant"
			fileExtensions="bsl">
		</participant>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			id="ru.capralow.dt.unit.launcher.plugin.ui.commands.OpenFeaturesFolder"
			name="%OpenFeaturesFolder_label">
		</command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="ru.capralow.dt.unit.launcher.plugin.ui.commands.OpenFeaturesFolder"
			class="ru.capralow.dt.unit.launcher.plugin.internal.ui.ExecutableExtensionFactory:ru.capralow.dt.unit.launcher.plugin.internal.ui.xtextbuilder.OpenFeaturesFolderHandler">
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup">
			<command
				commandId="ru.capralow.dt.unit.launcher.plugin.ui.commands.OpenFeaturesFolder"
				style="push"
				label="%OpenFeaturesFolder_label">
 
				<visibleWhen>
					<and>
						<count value="+" />
						<iterate operator="or">
							<instanceof value="com._1c.g5.v8.dt.metadata.mdclass.Configuration" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
</plugin>