<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated frameworks -->
      <package
            uri="http://ru.capralow.dt.unit.launcher.plugin.core.launchconfigurations.model"
            class="ru.capralow.dt.unit.launcher.plugin.core.launchconfigurations.model.ulPackage"
            genModel="model/frameworks.xcore"/>
   </extension>

</plugin>
